@import url("/normalize.css");
@import url("/_bootwatch.scss");
@import url("/_variables.scss");
@import url("/bootstrap.css");
/*- il like poudding */
@font-face {
  font-family: "Blimey";
  src: url("//db.onlinewebfonts.com/t/d573c50173f8483a67c0b94b13033396.eot");
  src: url("//db.onlinewebfonts.com/t/d573c50173f8483a67c0b94b13033396.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d573c50173f8483a67c0b94b13033396.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d573c50173f8483a67c0b94b13033396.woff") format("woff"), url("//db.onlinewebfonts.com/t/d573c50173f8483a67c0b94b13033396.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d573c50173f8483a67c0b94b13033396.svg#Blimey Variable") format("svg");
}
.container {
  border: 2px solid #333;
  overflow: auto;
}

.both-mandatory {
  scroll-snap-type: both mandatory;
}

.scroll-wrapper {
  position: relative;
}

p {
  font-family: "Aref Ruqaa Ink", sans-serif;
}

h2 {
  font-family: "Cambria Math";
}

.banner {
  grid-area: head;
  display: flex;
}

.banner img {
  width: 8rem;
}

.banner .infos {
  padding-top: 75px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 25rem;
  min-height: 5em;
}

.banner h1 {
  width: 100%;
  color: goldenrod;
  font-weight: 600;
  font-size: 4.25rem;
  font-family: "Blimey";
  text-shadow: 2px 2px #252525;
}

.banner #nav {
  background-color: lightblue;
  grid-area: nav;
}

#description {
  display: grid;
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-image: url("../img/cinema_plein_air.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#description h2,
#selection h2 {
  text-align: center;
  margin: 3rem;
}

#description h2 {
  font-size: 2.5rem;
  padding-top: 150px;
  color: black;
}

#description p {
  filter: grayscale(0%);
  display: block;
  justify-self: center;
  width: 75%;
  color: gold;
  font-size: 1.75rem;
}

.menu {
  display: grid;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: ". .";
}

.card {
  border: 1px solid goldenrod;
  display: grid;
  min-height: 100vh;
  place-items: center;
}

.card-image {
  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  justify-content: center;
  background-size: cover;
}

.card-image img {
  width: 300px;
  height: 400px;
  max-width: 100%;
  padding: 0px;
}

.card-date {
  font-family: "CaskaydiaCove", sans-serif;
}

.card-title {
  font-size: 1.75rem;
}

.card-title,
.card-excerpt {
  padding-top: 3%;
  padding-bottom: 25px;
  font-family: "Cambria Math", serif;
}

.card-date,
.card-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.card-date,
.card-excerpt {
  text-align: center;
  font-family: "Aref Ruqaa Ink";
  color: #777;
}

footer {
  background-color: red;
  grid-area: foot;
}

.banner {
  height: 100vh;
  background-image: url("../img/projecteur.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: grayscale(20%);
}

.slide-in-top {
  -webkit-animation: slide-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) backwards;
  animation: slide-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) backwards;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-2-16 6:6:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
